:root {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    --red: #E0041D;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    background-color: #191b22;
    color: #ffffff;
}

.header {
    background-color: #191b22;
    inline-size: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.div-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    block-size: 150px;
    inline-size: 100%;
    line-height: 80%;

}

.header-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: #ffffff;
    padding: 1rem;
}

.icon {
    display: flex;
    justify-content: space-around;
}


.nav-layout-box ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: rgb(189, 189, 189);
}

.nav-layout-box ul li {
    padding: 4px 22px;
    font-weight: 400;
}

.nav-layout-box ul li a:hover {
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.2s;
}

.nav-layout-box ul li a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}

.nav-layout-box ul li a h3 {
    border-bottom: 1px solid transparent;
    padding: 10px 1px;

}

.nav-layout-box ul li a h3:hover {
    border-bottom: 1px solid #DF0101;
    transition-duration: 0.2s;


}

.nav-layout-box ul span {
    color: #ffffff;
}

.search-button:hover {
    color: #868686;
    transition-duration: 0.4s;
}

.redes-sociales1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales1 ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.redes-sociales1 ul li a {
    display: flex;
    padding: 5px;

}

.redes-sociales1 ul li a svg,
.icon svg {
    inline-size: 1rem;
    fill: #ffffff;
    cursor: pointer;
    transition: fill 0.4s;
}

.twitter:hover svg {
    fill: rgb(0, 133, 177);
}

.fb:hover svg {
    fill: rgb(48, 48, 145);
}

.instagram:hover svg {
    fill: #c54444;

}

.youtube:hover svg {
    fill: #f60303;
}

main {
    inline-size: 100%;
}

.main-new {
    width: 100%;
}

.imagen-principal {
    block-size: 600px;
    width: 100%;
    object-fit: cover;
}


.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    block-size: 80%;
    inline-size: 40%;
    margin-left: 20px;
}

.aside h2 {
    display: flex;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-left: 16px;
}

.aside h2::after {
    display: inline-block;
    content: "";
    align-self: center;
    justify-self: center;
    margin-left: 1em;
    block-size: 1px;
    inline-size: 40px;
    background-color: #DF0101;
}

.aside a:hover {
    cursor: pointer;
    color: #BDBDBD;

}

.art {
    display: flex;
    padding: 15px 15px 0 15px;
    justify-content: center;
    align-items: space-evenly;
}

.art img {
    justify-self: start;
    align-self: start;
    width: 110px;
    height: 90px;
    margin: 3px;

}

.info-news {
    align-items: center;
    justify-content: center;
    padding: 5px 15px 15px 15px;
    font-size: 16px;
    font-weight: 510;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.4px;


}

.info-news h3 {
    margin-bottom: 5px;
    align-self: center;
}

.info-news h3:hover {
    margin-bottom: 5px;
    align-self: center;
    transition: color 0.8s;
}


.info-news date {
    color: #9a9a9a;
    margin-bottom: 1em;
    bottom: 0;
    align-self: end;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
}

.news {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    inline-size: 100%;
    padding-bottom: 12rem;
}

.news-container {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    inline-size: 100%;
}


.news .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(25, 27, 34);
    color: rgba(255, 255, 255, 0.804);
    width: 420px;
    font-size: 18px;
    padding-inline-start: 10px;
}

.card-p {
    gap: 1em;
    padding: 0.8em;

}

.card-p a:hover {
    color: #DF0101;
    transition-duration: 0.5s;
}

.card-p h3 {
    text-transform: uppercase;
    align-self: end;
    font-size: 12px;
    font-weight: 700;
}

.card-p a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block-start: 1.5rem;
}

.card-p a:hover {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;

}


.news .card h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    font-family: "Roboto Condensed", sans-serif;
    place-self: start center;
    letter-spacing: 0.1px;
    padding: 20px 10px 10px 10px;
}

.news .card p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #BDBDBD;
}



.flechita {
    fill: #DF0101;
    padding-left: 1em;
    height: 14px;
}


.max-content {
    max-inline-size: 1200px;
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e5e5;
    inline-size: 100%;
    max-block-size: 400px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -100px;
    padding-bottom: 1rem;
}

.features {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2em;
    block-size: 60px;
    color: #8b8b8b;
    align-self: flex-start;
}

.features h3 {
    letter-spacing: 1px;
}

.features h3:hover {
    cursor: pointer;
    color: #ffffff;
    transition-duration: 0.5s;

}

.features span {
    margin-right: 0.5em;
}

.features button {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0.5em 0.5em 0.5em 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.slider article {
    position: relative;
}

.slider article:before,
.pelis article:before {
    content: "";
    inline-size: 100%;
    block-size: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #000000, #ff000000);
}

.slider article img {
    inline-size: 100%;
    block-size: auto;
    cursor: pointer;


}



.slider article div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 1rem;
}

.slider h3,
.slider a {
    display: block;
}

.slider article svg {
    inline-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: #ffffff;
    border: 2px solid #ffffff3a;
    border-radius: 50%;
    padding: 1.5rem;
    transition: border 0.4s;
    cursor: pointer;


}

.slider article svg:hover,
.slider article:hover>svg {
    border: 2px solid #ffffffbc;

}

.info-peli h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.info-peli nav {
    display: flex;
    gap: .5rem;
    padding-top: 0.5rem;
}

.info-peli nav a {
    color: #BDBDBD;
    cursor: pointer;
    transition: color 0.4s;
}

.info-peli nav a:hover {
    color: #ffffff;
}

.puntitos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    padding: 2.5rem 0;

}

.puntitos a {
    content: "";
    inline-size: 9px;
    block-size: 9px;
    background-color: #7c7c7c;
    border-radius: 50%;
    cursor: pointer;
}

.puntitos a:hover {
    background-color: #DF0101;
}

.last-samurai {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: #ffffff;
    inline-size: 100%;
    padding-block-start: 120px;
}

.div-samurai {
    background-image: url("imagenes/samurai.jpeg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    min-block-size: 494px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.texto-samurai {
    color: #000000;
    max-inline-size: 48%;
    min-block-size: 450px;
}

.texto-samurai:before {
    display: inline-block;
    content: "";
    align-self: center;
    justify-self: flex-start;
    block-size: 1.5px;
    inline-size: 50px;
    background-color: #DF0101;
}

.texto-samurai h2 {
    color: #737373;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 30px;
}

.texto-samurai h3 {
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto-samurai span {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    padding-right: 25px;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
}

.texto-samurai p {
    color: #737373;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 1.1em;
    word-spacing: .5px;
    padding-top: 20px;
}

.info-trailer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: .5px;
    padding-top: 40px;
    gap: 25px;
}

.info-trailer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 510;
    line-height: 1.05em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.4s;
}

.info-trailer svg {
    cursor: pointer;
    transition: 0.4s;
}

.info-trailer a:hover {
    color: #9e0101;

}

.info-trailer .view-info {
    color: #DF0101;
}

.info-trailer .view-info svg {
    fill: #DF0101;
}

.info-trailer .watch-trailer:hover,
.info-trailer .watch-trailer:hover svg {
    color: #9e0101;
    fill: #9e0101;
}

.info-trailer .view-info:hover {
    color: #9e0101;
}

.texto-samurai p {
    max-inline-size: 1100px;
    font-size: 0.938em;
}


.pelis {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pelis article {
    inline-size: 100%;
    position: relative;
    overflow: hidden;
}

.pelis article img {
    width: 100%;
    height: auto;
}

.info-pelis {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}



.info-pelis h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1em;

}

.info-pelis h3:before {
    display: flex;
    content: "";
    align-self: center;
    justify-self: flex-start;
    block-size: .5px;
    inline-size: 40px;
    background-color: #f8b350;
    margin-bottom: 1.7rem;
}

.info-pelis .category {
    font-size: 11px;
    color: #abb8c3;
}

.hidden-content {
    transition: all 1s;
    position: relative;
    bottom: -75px;
    opacity: 0;
    display: flex;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 510;
    line-height: 1.05em;
    letter-spacing: 1px;
    text-transform: uppercase;
    gap: 7px;
}

.hidden-content a {
    padding-right: 5px;
}

.info-pelis:hover .hidden-content {
    opacity: 1;
    padding: 20px 0;
    bottom: 0px;
}

.div-opinions {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--red);
    width: 100%;
    block-size: 550px;
    padding: 0px 70px 0px 70px;
    gap: 10px;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 370px;
    text-wrap: balance;
    position: relative;
    top: 40px;
    cursor: pointer;
}


.opinion img {
    border-radius: 50%;
}

.opinion h3 {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    word-spacing: 0.7px;
    margin: 50px 0px 30px 0px;
}

.opinion h4 {
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px;
    letter-spacing: 0.6px;
}

.opinion h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #ffffffbc;
}

.latest-news {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-latest-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    color: #000000;
    text-align: start;
}

.div-latest-news h3 {
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.div-latest-news h3:before {
    display: flex;
    content: "";
    align-self: center;
    justify-self: flex-start;
    block-size: 1px;
    inline-size: 40px;
    background-color: var(--red);
    margin-top: 120px;
    margin-bottom: 30px;
}


.div-latest-news p {
    font-family: 'Lora', sans-serif;
    color: #737373;
    margin-bottom: 50px;
}

.grid-layout {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 570px;
    width: 92%;
    gap: 30px;
    margin-bottom: 4rem;
}

.letras-caja {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 2rem;
    color: #ffffff;
    
}

.caja {
    position: relative;
}

.caja:before {
    content: "";
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background:  #0000006b;
}

.c1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background: url(imagenes/grid1.png);
    background-size: cover;
    background-position: 50%;
  
    
    
}

.c2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url(imagenes/grid2.png);
    background-size: cover;
    background-position: 50%;
    
}

.c3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: url(imagenes/grid3.png);
    background-size: cover;
    background-position: 50%;
   
}

.c4 {

    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background: url(imagenes/grid4.png);
    background-size: cover;
    background-position: 50%;
}


.news-updates {
    font-size: 12px;
    font-weight:600; 
    color: #F8B350;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    word-spacing: 0.2px;
    margin-bottom: 20px;
    cursor:pointer;
}

.titulo-caja1 {
    font-size: 37px;
    font-weight: 650;
    text-wrap:balance;
    margin-bottom: 10px; 
    cursor: pointer;
}

.titulo-caja2 {
    font-size: 18px;
    font-weight: 650;
    text-wrap:balance;
    margin-bottom: 10px; 
    cursor: pointer;
}

.titulo-caja3 {
    font-size: 18px;
    font-weight: 650;
    text-wrap:balance;
    margin-bottom: 10px;
    cursor: pointer; 
}

.titulo-caja4 {
    font-size: 24px;
    font-weight: 650;
    text-wrap:balance;
    margin-bottom: 10px;
    cursor: pointer; 
}

.date-algo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #D2D2D2;
    text-transform: uppercase;
    gap: 20px;
    cursor:pointer;
}

.date-algo span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor:pointer;
}

.date-algo span svg {
    width: 20px;
}


.browse-button {
    display:flex;
    justify-self: center;
    align-self: center;
    background: var(--red);
    color: #ffffff;
    padding: 1.2rem 2.5rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom:4rem;
    cursor:pointer;
    transition: background 1s;
}

.browse-button:hover {
    background: #9e0101;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 350px;
    padding: 150px 150px 150px 150px;
}

figcaption {
    font-family: 'Lora', sans-serif;
    font-size: 14px;
    color: #A8A8A8;
    margin-top: 20px;
}

.footer-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-title:after {
    display: inline-block;
    content: "";
    align-self: center;
    justify-self: center;
    margin-left: 1em;
    block-size: 1.5px;
    inline-size: 30px;
    background-color: #FF0000;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section ul li {
    font-family: 'Lora', sans-serif;
    font-size: 14px;
    color: #A8A8A8;
    cursor:pointer;
}

.footer-section h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    line-height: 0.8em;
    color: #A8A8A8;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.newsletter-sign {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    cursor:pointer;
}



.redes-sociales-footer:before {
    display:flex;
    content: "";
    align-self: center;
    justify-self: center;
    block-size: 0.5px;
    inline-size: 200px;
    background-color: #A8A8A8;
    margin-bottom: 40px;
}

.redes-sociales-footer ul {
    display:flex;
    flex-direction: row;
    gap: 5px; 
}



.redes-sociales-footer ul li a svg {
    fill: #ffffff;
    width: 13px; 
    
}

.redes-sociales-footer .twitter-footer, .redes-sociales-footer .fb-footer, .redes-sociales-footer .insta-footer, .redes-sociales-footer .youtube-footer    {
    background: #1DA1F3;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales-footer .fb-footer {
    background: #3A559F ;
}

.redes-sociales-footer .insta-footer {
    background: #CE2E92 ;
}

.redes-sociales-footer .youtube-footer {
    background: #E0011A ;
} 

.fixed-shit {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translate(0, -50%);
    gap: 3px;
}

.fixed-shit a {
    display: flex;
    width: 70px;
    height: 70px;
    background: #E0041D;
    justify-content: center;
    align-items: center;
    box-shadow: black  0.5px 0.5px 1px 0.1px;
}
.fixed-shit a svg {
    height: 1.6rem;
    fill: #191b22;
}



    
